# Connect to API Gateway through Vercel proxy to hide the API key from the frontend's request headers.

# When run the frontend locally, can do either:

# 1. Connect to API Gateway directly
# EXPO_PUBLIC_API_URL=https://zk5ged4q16.execute-api...
# EXPO_PUBLIC_API_KEY=

# 2. Connect to API Gateway through Vercel proxy
# run 'vercel dev' to start the proxy on a separate terminal 
API_GATEWAY_URL=https://zk5ged4q16.execute-api...
API_GATEWAY_KEY=
EXPO_PUBLIC_API_URL=http://localhost:3000/api/proxy


