@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    background-color: #f5f4f0;
    color: #2c2820;
    font-family: 'IBM Plex Sans', 'IBMPlexSans_400Regular', sans-serif;
  }
}
